// Colors
$white-color: #fff;
$black-color: #000;
$blue-crayola-crayon-color : #3a7cfd;
$purple-navy-color : #494c6b;
$gray-color : #d1d2da;
$glitter-color :#e3e4f1;
$manet-color: #9495a5;
$blue-color : #0000ee;
$medium-sky-blue: #55DDFF;
$medium-orchid : #C058F3;