@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, p {
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 18px 0;
}
footer .footer {
  max-width: 540px;
  -moz-column-gap: 7px;
       column-gap: 7px;
  display: flex;
}
footer .footer .footer__text {
  color: #494c6b;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  line-height: 18px;
}
footer .footer .footer__link {
  display: flex;
  color: #0000ee;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  line-height: 18px;
}
@media (max-width: 575px) {
  footer .footer {
    padding: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .footer .footer__text {
    font-size: 14px;
  }
  footer .footer .footer__link {
    font-size: 14px;
  }
}

.header {
  background: url("../img/bg-desktop-light.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.content-container {
  max-width: 540px;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  margin: auto;
  position: relative;
  top: -230px;
}
.content-container .content-container__title {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 15px;
  text-transform: uppercase;
}
.content-container .content-container__no-tasks {
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  line-height: 28px;
  color: #494c6b;
  background-color: #fff;
  padding: 24px 20px;
  border: 1px solid #e3e4f1;
  border-radius: 6px;
}
.content-container .content-container__no-tasks.display-no {
  display: none;
}
.content-container .circle {
  min-height: 24px;
  min-width: 24px;
  border-radius: 50%;
  border: 1px solid #e3e4f1;
}
.content-container .task-add-form {
  margin-top: 48px;
  margin-bottom: 24px;
  padding: 20px 24px;
  background-color: #fff;
  border: 1px solid #e3e4f1;
  border-radius: 6px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.content-container .task-add-form .task-add-form__input {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #000;
}
.content-container .task-add-form .task-add-form__input:focus, .content-container .task-add-form .task-add-form__input:focus-visible, .content-container .task-add-form .task-add-form__input:active {
  border: none;
  outline: none;
}
.content-container .content-container__list {
  border-radius: 6px;
  border: 1px solid #e3e4f1;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.content-container .content-container__list.display-no {
  display: none;
}
.content-container .content-container__list .content-container__list__wrapper .content-container__list__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 20px 24px;
  border-bottom: 1px solid #e3e4f1;
}
.content-container .content-container__list .content-container__list__wrapper .content-container__list__item:hover .icon__close {
  transform: scale(1);
}
.content-container .content-container__list .content-container__list__wrapper .content-container__list__item:hover .content-container__list__item__circle {
  border: 1px solid #C058F3;
}
.content-container .content-container__list .content-container__list__wrapper .content-container__list__item.display-no {
  display: none;
}
.content-container .content-container__list .content-container__list__wrapper .content-container__list__item.task_done .content-container__list__item__text {
  text-decoration: line-through;
  color: #d1d2da;
}
.content-container .content-container__list .content-container__list__wrapper .content-container__list__item.task_done .content-container__list__item__circle {
  background: linear-gradient(to right, #55DDFF, #C058F3);
}
.content-container .content-container__list .content-container__list__wrapper .content-container__list__item .content-container__list__item__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 0.5s ease-in-out;
  background-color: transparent;
}
.content-container .content-container__list .content-container__list__wrapper .content-container__list__item .content-container__list__item__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #494c6b;
  cursor: pointer;
}
.content-container .content-container__list .content-container__list__wrapper .content-container__list__item .icon__close {
  margin-left: auto;
  transform: scale(0);
  transition: transform 700ms;
}
.content-container .content-container__list .content-container__list__wrapper .content-container__list__item .icon__close .btn__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.content-container .content-container__list .content-container__list_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
  font-size: 14px;
  line-height: 14px;
  color: #9495a5;
}
.content-container .content-container__list .content-container__list_footer .content-container__list_footer__right-part button {
  background: transparent;
  outline: none;
  border: none;
  color: #9495a5;
  font-size: 14px;
  line-height: 14px;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}
.content-container .content-container__list .content-container__list_footer .content-container__list_footer__middle-part {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.content-container .content-container__list .content-container__list_footer .content-container__list_footer__middle-part .middle__part__selector {
  font-weight: bold;
  background: transparent;
  outline: none;
  border: none;
  color: #9495a5;
  font-size: 14px;
  line-height: 14px;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  transition: color 500ms;
}
.content-container .content-container__list .content-container__list_footer .content-container__list_footer__middle-part .middle__part__selector:hover {
  color: #3a7cfd;
}
.content-container .content-container__list .content-container__list_footer .content-container__list_footer__middle-part .middle__part__selector.filter__active {
  color: #3a7cfd;
}
@media (max-width: 575px) {
  .content-container {
    max-width: 100%;
    padding: 0 20px;
    width: auto;
  }
  .content-container .content-container__list .content-container__list_footer {
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .content-container .content-container__list .content-container__list_footer .content-container__list_footer__left-part {
    order: 1;
  }
  .content-container .content-container__list .content-container__list_footer .content-container__list_footer__right-part {
    order: 2;
  }
  .content-container .content-container__list .content-container__list_footer .content-container__list_footer__middle-part {
    order: 3;
    width: 100%;
    justify-content: center;
  }
}
